@model CodeFirst.Models.Employee

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.EmployeeName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.EmployeeName)
    @Html.ValidationMessageFor(model => model.EmployeeName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.EmployeeEmail)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.EmployeeEmail)
    @Html.ValidationMessageFor(model => model.EmployeeEmail)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Admin)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Admin)
    @Html.ValidationMessageFor(model => model.Admin)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Mobile)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Mobile)
    @Html.ValidationMessageFor(model => model.Mobile)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.LastLogin)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.LastLogin)
    @Html.ValidationMessageFor(model => model.LastLogin)
</div>

