@model CodeFirst.Models.Task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Task</legend>

    <div class="display-label">HoursDone</div>
    <div class="display-field">@Model.HoursDone</div>

    <div class="display-label">StatusId</div>
    <div class="display-field">@Model.StatusId</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">Notes</div>
    <div class="display-field">@Model.Notes</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TaskId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


