@model IEnumerable<CodeFirst.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            HoursDone
        </th>
        <th>
            StatusId
        </th>
        <th>
            Description
        </th>
        <th>
            Notes
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaskId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaskId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaskId })
        </td>
        <td>
			@item.HoursDone
        </td>
        <td>
			@item.StatusId
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@item.Notes
        </td>
    </tr>
}

</table>


