@model CodeFirst.Models.Sheet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Sheet</legend>

    <div class="display-label">StartDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.StartDate)</div>

    <div class="display-label">Employee</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Employee).ToString()</div>

    <div class="display-label">Task</div>
    <div class="display-field">@(Model.Task == null ? "None" : Model.Task.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SheetId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


