@model IEnumerable<CodeFirst.Models.Sheet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            StartDate
        </th>
        <th>
            Employee
        </th>
        <th>
            Task
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SheetId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SheetId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SheetId })
        </td>
        <td>
			@String.Format("{0:g}", item.StartDate)
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Employee).ToString()
        </td>
        <td>
			@(item.Task == null ? "None" : item.Task.Count.ToString())
        </td>
    </tr>
}

</table>


